html{
    box-sizing: border-box;
    
  }
  
  *, *::before, ::after{
    box-sizing: inherit;
  }
  
  body{
    margin:0;
    padding: 0;
    
    
  }
  
  .main-header{
    background-color: rgb(13, 197, 13);
   /* position:fixed;*/
    width:100%;
    padding: 10px 16px;
  }

  .main-header > div{
    display:inline-block;
    vertical-align:middle;
    }
    
    .main-header__brand{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    height:2rem;
    text-decoration: none;
    display:inline-block;
    vertical-align: middle;
    }
    
    .main-header__brand img {
      height:100%;
       width:100%;
    } 
    
    .main-nav{
        display: inline-block;
        text-align: right;
        width:calc(100% - 122px);
        vertical-align: middle;
        }
        
        .main-nav__item{
            display: inline-block;
            margin: 0 16px; 
            
        }
        
        .main-nav__items{
            margin: 0;
            padding: 0;
            list-style-type: none;
            
        }
        
        .main-nav__items a,
        .mobile-nav__item a{
         color:white ;
         font-family: 'Lato', sans-serif;
         font-size: 20px;
         font-weight: bold;
         text-decoration: none;
         padding:3px 0;
        }
        /*.main-nav__item a::before {
            content:"(Link)";
            color:crimson;
        }*/
        
        .main-nav__items a:hover,
            .main-nav__items a:active{
            color:darkviolet;
            /*background-color: lightyellow;*/
            cursor: pointer;
            border-bottom: 5px solid wheat;
        }
        
        .main-nav__item--cta a,
        .mobile-nav__item--cta a {
        background-color: orangered;
        color:yellow;
        padding: 5px 16px;
        border:2px solid blueviolet;
        border-radius:10px;
        }
        
        .main-nav__item--cta a:hover,
        .main-nav__item--cta a:active,
        .mobile-nav__item--cta a:hover,
        .mobile-nav__item--cta a:active {
         border:none;
         color: darkblue;
         background-color: aquamarine;
         border:2px dashed peru;
        
        }
  .backdrop{
    position:relative;
    z-index:100;
    width:100%;
    height:100%;
    background: rgba(208, 232, 240, 0.8);
  }

  .toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 120%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


  
  .testimonial {
      font-size: 20px;
      margin: 48px 0;
      
    }
    
    .testimonial__list {
      width: 80%;
      margin: auto;
    }
    
    .testimonial:first-of-type {
      margin-top: 96px;
    }
  
    .testimonial__image-container {
      width: 65%;
      max-width:580px;
      padding: 20px;
      display: inline-block;
      vertical-align: middle;
      box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
      
    }
  
    .testimonial__image {
      width: 100%;
      vertical-align: top;
    }
  
    .testimonial__info {
      text-align: right;
      padding: 15px;
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    }
    
    #customer-2 .testimonial {
      text-align: right;
    }
    
    #customer-2 .testimonial__info {
      text-align: left;
    }
    
    .testimonial__name {
      margin: 3px;
      color: #ff5454;
    }
    
    .testimonial__subtitle {
      margin: 0;
      font-size: 20px;
      color:grey;
    }
    
    .testimonial__subtitle a {
      color: inherit;
      text-decoration: none;
    }
    
    .testimonial__subtitle a:hover,
    .testimonial__subtitle a:active {
      color: #7a7a7a;
    }
    
    .testimonial__text {
      margin: 3px;
    }
    .main-footer{
      background-color: rgb(185, 169, 185);
      padding:30px;
      margin-top:48px;
  }

  .main-footer__links{
      list-style-type: none;
      margin:0;
      padding:0;
      text-align: center;
  }

  .main-footer__link{
      display:inline-block;
      margin:0 16px;   
  }

  .main-footer__link a{
      color:navy;
      text-decoration: none;
      font-weight:bold;
      font-size: 20px;
  }

  .main-footer__link a:hover,
  .main-footer__link a:active{
      color: grey;
  }

   .open{
    display:block !important;
  }
   
    