*{
    box-sizing: border-box;
  }
  
  *, *::before, ::after{
    box-sizing: inherit;
  }
  
  body{
    margin:0;
    padding: 0;
    background-color: rgb(219, 235, 232);
    
    /*display:grid; 
    grid-template-rows: auto 8rem;
    grid-template-areas:"header"
                        "main"
                        "footer";*/
  }

  main{
    padding-top:3.5rem;

  }

  .main-header{
    background-color: rgb(13, 197, 13);
   /* position:fixed;*/
    width:100%;
    padding: 10px 16px;
  }

  .main-header > div{
    display:inline-block;
    vertical-align:middle;
    }
    
    .main-header__brand{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    height:2.5rem;
    text-decoration: none;
    display:inline-block;
    vertical-align: middle;
    }
    
    .main-header__brand img {
      height:100%;
       width:100%;
    } 
    
    .main-nav{
        display: inline-block;
        text-align: right;
        width:calc(100% - 122px);
        vertical-align: middle;
        }

   /*@media (min-width:40rem) {
      .toggle-button {
        display:none;
      }

      .main-nav {
        display: flex;
      }
    } */
        
        .main-nav__item{
            display: inline-block;
            margin: 0 16px; 
            
        }
        
        .main-nav__items{
            margin: 0;
            padding: 0;
            list-style-type: none;
            
        }
        
        .main-nav__items a {
         color:white ;
         font-family: 'Lato', sans-serif;
         font-size: 22px;
         font-weight: bold;
         text-decoration: none;
         padding:3px 0;
        }

        /*.main-nav__item a::before {
            content:"(Link)";
            color:crimson;
        }*/

        .mobile-nav__item a{
          color:blue ;
          font-family: 'Lato', sans-serif;
          font-size: 22px;
          font-weight: bold;
          text-decoration: none;
          padding:3px 0;
         }
        .mobile-nav__item a:hover,
        .mobile-nav__item a:active{
          color:purple;
        }

        .main-nav__items a:hover,
            .main-nav__items a:active{
            color:darkviolet;
            /*background-color: lightyellow;*/
            cursor: pointer;
            border-bottom: 5px solid wheat;
        }
        
        .main-nav__item--cta a,
        .mobile-nav__item--cta a {
        background-color: orangered;
        color:yellow;
        padding: 5px 16px;
        border:2px solid blueviolet;
        border-radius:10px;
        }
        
        .main-nav__item--cta a:hover,
        .main-nav__item--cta a:active,
        .mobile-nav__item--cta a:hover,
        .mobile-nav__item--cta a:active {
         border:none;
         color: darkblue;
         background-color: aquamarine;
         border:2px dashed peru;
        }

  .backdrop{
    position:relative;
    z-index:100;
    width:10%;
    height:100%;
    background-color: rgba(208, 232, 240, 0.8);
  }

  .toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 120%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }
  
  .testimonial {
      font-size: 20px;
    /*  margin: 48px 0; */
    }
    
   /* .testimonial__list {
      width: 80%;
      margin: auto;
    }*/
    
    .testimonial:first-of-type {
      margin-top: 96px;
    }
  
    .testimonial__image-container {
      width:65%;
      max-width:40rem;
      padding: 20px;
      box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.5);
      transform: skew(20deg);
      overflow:hidden;
    }
  
    .testimonial__image {
      width: 100%;
      vertical-align: top;
      transform:skew(-20deg) scaleX(1.4);
    }
  
    .testimonial__info {
      text-align: right;
      padding: 15px;
     /* display: inline-block; 
      vertical-align: middle; */
      width: 30%;
    }
    
    #customer-2 .testimonial {
      text-align: right;
    }
    
    #customer-2 .testimonial__info {
      text-align: left;
    }
    
    .testimonial__name {
      margin: 3px;
      color: #ff5454;
    }
    
    .testimonial__subtitle {
      margin: 0;
      font-size: 20px;
      color:rgb(230, 146, 160);
    }
    
    .testimonial__subtitle a {
      color: inherit;
      text-decoration: none;
    }
    
    .testimonial__subtitle a:hover,
    .testimonial__subtitle a:active {
      color: #7a7a7a;
    }
    
    .testimonial__text {
      margin: 3px;
    }

    .main-footer{
      background-color: rgb(185, 169, 185);
      padding:30px;
      margin-top:48px;
      /*grid-row: 3/3;*/
      grid-area: footer;
  }

  .main-footer__links{
      list-style-type: none;
      margin:0;
      padding:0;
      text-align: center;
      display: flex;
      flex-direction:column;
      align-items: center;
  }

  .main-footer__link{
      margin:0 16px; 
      
  }

  .main-footer__link a{
      color:navy;
      text-decoration: none;
      font-weight:bold;
      font-size: 20px;
    
  }

  .main-footer__link a:hover,
  .main-footer__link a:active{
      color: grey;
  }

  .open{
    display:block !important;
  }
  
  @media (min-width:40rem) {
    .testimonial {
       margin: 48px auto ;
       max-width: 1500px; 
       display: flex;
       align-content:center;
       justify-content:space-around;
    }

    .testimonial__image-container {
      display: inline-block; 
      vertical-align: middle;
      width:66%;
      
    }
    .testimonial__info {
      display: inline-block; 
      vertical-align: middle; 
      width:30%;
    }
  } 
  
 /* @media (max-width: 530px) {
    body{
      background-color: red;
    }

  }*/

  @media (max-width:551px) {
    .main-nav__items a{
    font-size: 15px;
    }
  }
  @media (min-width:40rem){
    .main-footer__link{
     margin:0 1rem;
    }
  
    .main-footer__links{
     flex-direction:row;
     justify-content: center; 
  }
   }
   
  