@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

*{
    box-sizing: border-box;
  }
  
  *, *::before, ::after{
    box-sizing: inherit;
  }

  
  body{
    margin:0;
    padding: 0;
   /* font-family: 'Vidaloka', serif;*/
    position: relative;
    background: url("../image/plans-background.jpg") center/cover;
    filter:grayscale(30%);
    /*display:grid;*/
    height: 100%;
  }

  main{
    min-height: calc(100vh - 3.5rem - 8rem);
  }

  .main-header{
    background-color: rgb(13, 197, 13);
   /* position:fixed;*/
    width:100%;
    padding: 10px 16px;
    
  }

  .main-header > div{
    position: relative;
    display:inline-block;
    vertical-align:middle;
    }
    
    .main-header__brand{
    font-weight: bold;
    font-family: 'Vidaloka', serif;
    font-size: 22px;
    height:2.5rem;
   /* width:20px;*/
    text-decoration: none;
    display:inline-block;
    vertical-align: middle;
    }
    
    .main-header__brand img {
      height:100%;
       width:100%;
    } 
    
 .main-nav{
        display: inline-block;
        text-align: right;
        width:calc(100% - 122px);
        vertical-align: middle;
        }
        
 .main-nav__item{
            display: inline-block;
            margin: 0 16px; 
            
        }
        
 .main-nav__items{
            margin: 0;
            padding: 0;
            list-style-type: none;
            
        }
        
 .main-nav__items a,
 .mobile-nav__item a{
         color:white ;
         font-family: 'Vidaloka', serif;
         font-size: 22px;
         font-weight: bold;
         text-decoration: none;
         padding:3px 0;
        }
        /*.main-nav__item a::before {
            content:"(Link)";
            color:crimson;
        }*/
        .mobile-nav__item a{
            color:rgb(43, 43, 230) ;
            font-family: 'Vidaloka', serif;
            font-size: 22px;
            font-weight: bold;
            text-decoration: none;
            padding:3px 0;
           }
           .mobile-nav__item a:hover,
           .mobile-nav__item a:active{
            color:purple;
           }
 .main-nav__items a:hover,
 .main-nav__items a:active{
            color:white;
            /*background-color: lightyellow;*/
            cursor: pointer;
            border-bottom: 5px solid violet;
 }
        
.main-nav__item--cta a,
.mobile-nav__item--cta a{
        background-color: orangered;
        color:yellow;
        padding: 5px 16px;
        border:2px solid paleturquoise;
        border-radius:10px;
     }
        
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
 .mobile-nav__item--cta a:hover,
 .mobile-nav__item--cta a:active {
         border:none;
         color: darkblue;
         background-color: aquamarine;
         border:2px dashed peru;     
 }

 main {
    padding-top: 32px;
}

.toggle-button {
  background:transparent;
  width: 3rem;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


/*.background {
    background: url("../image/plans-background.jpg");
    width: 100px;
    position: fixed;

}*/

.package {
    width: 80%;
    margin: 16px 0;
    border: 5px solid green;
    border-left: none;
    position: relative;
    overflow:hidden;
     
}

.package:hover{
    box-shadow: 2px 3px 4px violet ;
    border-color:crimson;
    /* border-color: #ff5454 !important; */
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin:0;
    font-size: 1rem;
    color: white;
    background: #ff5454;
    padding:0.5rem;
    transform:rotate(45deg) translate(3.5rem, -1rem);
    transform-origin:center;
    width:12rem;
    text-align:center;
  
}

.package__title{
    color:brown
}

.package__subtitle {
    color: grey;
}

.package__info {
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background: white;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(216, 215, 143, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background:rgb(133, 92, 99);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}
.main-footer{
    background-color: rgb(151, 204, 201);
    padding:30px;
    margin-top:48px;
}
.main-footer__links{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link{
    margin:0 16px;   
}

.main-footer__link a{
    color:navy;
    text-decoration: none;
    font-weight:bold;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: grey;
}

 @media (min-width:40rem){
  .main-footer__link{
   margin:0 1rem;
  }

  .main-footer__links{
   flex-direction:row;
   justify-content: center; 
}
 }
 
.open{
    display:block !important;
  }
  
  @media (min-width:40rem) {
    main{
       margin-left:auto;
       margin-right:auto ;
       max-width: 1500px; 
    }
}

  @media (min-width:1500px){
    .package{
        border-left:5px solid green;
    }
  

  #free {
    border-right: 5px solid green;
  }

  #free:hover,
  #free:active {
    border-right-color:#ff5454;
  }
}
@media (min-width:40rem){
  .main-footer__link{
   margin:0 1rem;
  }

  .main-footer__links{
   flex-direction:row;
   justify-content: center; 
}
 }
 