@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

*{
    box-sizing: border-box;
  }
  
  *, *::before, ::after{
    box-sizing: inherit;
  }
  
  body{
    margin:0;
    padding: 0;
    font-family: 'Vidaloka', serif;
    position: relative;
    background: url("../image/plans-background.jpg") center/cover;
    filter:grayscale(30%);
  }

  .main-header{
    background-color: rgb(13, 197, 13);
   /* position:fixed;*/
    width:100%;
    padding: 10px 16px;
    
  }

  .main-header > div{
    position: relative;
    display:inline-block;
    vertical-align:middle;
    }
    
    .main-header__brand{
    font-weight: bold;
    font-family: 'Vidaloka', serif;
    font-size: 22px;
    height:22px;
    width:20px;
    text-decoration: none;
    display:inline-block;
    }
    
    .main-header__brand img {
     /* height:22px;*/
       width:170%;
    } 
    
 .main-nav{
        display: inline-block;
        text-align: right;
        width:calc(100% - 74px);
        vertical-align: middle;
        }
        
 .main-nav__item{
            display: inline-block;
            margin: 0 16px; 
            
        }
        
 .main-nav__items{
            margin: 0;
            padding: 0;
            list-style-type: none;
            
        }
        
 .main-nav__items a{
         color:white ;
         font-family: 'Vidaloka', serif;
         font-size: 20px;
         font-weight: bold;
         text-decoration: none;
         padding:3px 0;
        }
        /*.main-nav__item a::before {
            content:"(Link)";
            color:crimson;
        }*/
        
 .main-nav__items a:hover,
 .main-nav__items a:active{
            color:blue;
            /*background-color: lightyellow;*/
            cursor: pointer;
            border-bottom: 5px solid wheat;
 }
        
.main-nav__item--cta a {
        background-color: orangered;
        color:yellow;
        padding: 5px 16px;
        border:2px solid blueviolet;
        border-radius:10px;
     }
        
.main-nav__item--cta a:hover,
        .main-nav__item--cta a:active{
         border:none;
         color: darkblue;
         background-color: aquamarine;
         border:2px dashed peru;
        
 }

.main {
    padding-top: 32px;
}

/*.background {
    background: url("../image/plans-background.jpg");
    width: 100px;
    position: fixed;

}*/

.package {
    width: 80%;
    margin: 16px 0;
    border: 5px solid #0e4f1f;
    border-left: none;
    position: relative;
     
}

.package:hover{
    box-shadow: 2px 3px 4px violet ;
    border-color:crimson;
    /* border-color: #ff5454 !important; */
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 20px;
    color: white;
    background: #ff5454;
    padding: 8px;
}
.package__title{
    color:brown
}

.package__subtitle {
    color: grey;
}

.package__info {
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #0e4f1f;
    background: white;
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(216, 215, 143, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background:rgb(133, 92, 99);
}

#premium .package__title {
    color: white;
}

#premium .package__subtitle {
    color: #bbb;
}
.main-footer{
    background-color: rgb(151, 204, 201);
    padding:30px;
    margin-top:48px;
}
.main-footer__links{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
}
.main-footer__link{
    display:inline-block;
    margin:0 16px;   
}
.main-footer__link a{
    color:navy;
    text-decoration: none;
    font-weight:bold;
}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: grey;
}
  
  