@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;

}

*, *::before, ::after{
    box-sizing: inherit;
}

#product-overview{
    background: linear-gradient(to top, rgba(80, 68, 20, 0.6) 10%, transparent),
    url("../image/global-network-connection-internet.jpg") center/cover, no-repeat, border-box, #ff1b68;
  /*  background-image:url(../image/global-network-connection-internet.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-origin:border-box;
    background-clip:border-box ;
    background-attachment:scroll ;
    border: 4px dashed purple;
    background-image:linear-gradient(180deg, red 70%, blue, rgba(0,0,0,0.5));
    background-image: radial-gradient(circle at top, orange, blue, green, purple);*/
    width:100vw;
   /* margin-top: 3.5rem;*/
    height:550px;
    position:relative;
}

.backdrop{
    position: fixed;
    display:none; 
    top:0;
    left:0;
    z-index:100;
    width:80vmax;
    height:33vh;
    background: rgba(0,0,0,0.5);
}


#product-overview h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size:1.6rem;
    margin-top: 2em;
    color: aliceblue;
    position: absolute;
    bottom:50%;
    left:5%;
}

@media (min-width: 40rem) and (min-height:40rem){
    #product-overview{
        height:60vh;
        background-position: 50% 25%;
    }
    #product-overview h1{
        font-size: 3rem;
    }
}

.planning__title{
    padding:0;
    margin: 0.5em 0 3% 2px;
    color: navy;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.plan__prices{
    margin:0 2% 2px 0.5em;
    padding: 5px;
    color:green;   
}                                                                                                                                           
.heading-plan{
    padding:5px 8px;
    margin:0;
    color:darkmagenta;
}

.planning__price{
   padding: 5px 0;
   margin:0.5em;
   color:green;
}

.heading-plan3{
    margin:5px;
    padding: 0;
    color:darkviolet;
}

.plan__title{
    margin:5%;
    padding:0;
    color: navy;
}

.title__plan{
    padding:0;
    margin: 2rem 0 2 5px;
}

.plan{
    background-color: lightcyan;
    box-shadow: 2px 3px 3px rgb(74, 5, 109);
    border-radius: 15px;
    text-align: center;
    padding:16px 0;
    margin:1rem 0;
    width: 25%;
    /*display:inline-block;*/
    line-height: 2em;
}

 @media (min-width:40rem) {
    .plan{
        display:inline-block;
        margin: 0 5%;
        width:25%;
        vertical-align: middle;
        min-width:13rem;
        
    }
    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);    
    }

    .list__plan{
        text-align: center;
        width:100px;
    }
 }

.plan--highlighted{
    background-color: forestgreen;
    border-radius: 15px;
    color: white;
   /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

.plan__annotation{
    background-color: aliceblue;
    margin: 2%;
    color: darkgreen;
    padding: 5px;
    box-shadow: 2px 2px 3px rgb(25, 15, 21);
    border-radius: 10px; 
}

.plan__features{
   list-style-type: none;
   margin: 0;
   padding: 0;
   color:brown;
}

.plan__feature {
    margin: 5px 0;  
}

.plan__price{
color:aliceblue;
}

.plan--highlighted{
    color:forestgreen;
    margin: 0;
}

.plan--highlighted, .plan__price{
    color:whitesmoke;   
}

.features__plan{
list-style-type: none;
}

.feature-plan{
    color:cyan;
}

.button{
    background-color: #0e4f1f;
    color:white;
    font:inherit ;
    border:1.5px solid aliceblue;
    padding: 0.5rem 1em;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background-color: whitesmoke;
    color: forestgreen;
    border:2px solid greenyellow;
}

#key-features{
    background: crimson;
    margin-top:20px;
    padding:16px
}

#key-features .section-title{
    color:white;
    margin: 30px;
}

.key-feature__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media(min-width:40rem) {
 .key-feature{
    display:inline-block;
    width:30%;
    max-width:25rem;
    vertical-align:top;
    }   
}

.key-feature__description{
 text-align:center;
 font-weight: bold;
 color: white;
 font-size:22px ;
}

.key-feature__image{
    background:#ffcede;
    width:120px ;
    height:120px;
    border:3px solid gray;
    border-radius:50%;
    margin:0 auto ;
    padding: 25px;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 22px;
    display:grid;
    grid-template-rows: 3.5rem auto fit-content(8rem); 
    grid-template-areas:"header"
                         "main"
                         "footer";
    height:100%;                     
 }
 
 main {
  grid-area:main; 
   
 }

 .toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin:0 auto;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }


.main-header{
    background-color: rgb(13, 197, 13);
   /* position:fixed;*/
    width:100%;
    padding: 10px 16px;
    display:flex;
    align-items:center ;
    justify-content:space-between ;    
}

.section-title{
    color: darkgreen;
    text-align: center;  
}

.main-header__brand{
/*width:100px;*/
 vertical-align: middle;
 font-weight: bold;
}

.main-header__brand img {
    height:2.5rem;  
} 

.main-nav{
    display: flex;
 }
    
    .main-nav__item{
        
        margin: 0 16px;    
    }
    
    .main-nav__items{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        
    }
    
    .main-nav__items a {
     color:white;
     font-family: 'Lato', sans-serif;
     font-size: 22px;
     font-weight: bold;
     text-decoration: none;
     padding:3px 0;
    }
    /*.main-nav__item a::before {
        content:"(Link)";
        color:crimson;
    }*/
    .mobile-nav__item a {
        color:rgb(49, 33, 226);
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        padding:3px 0;
       } 
       
    .main-nav__items a:hover,
        .main-nav__items a:active{
        color:white;
        /*background-color: lightyellow;*/
        cursor: pointer;
        border-bottom: 5px solid yellow;
    }
    .main-nav__item--cta{
     animation:wiggle 400ms 3s 8 none;
    }
    
    .main-nav__item--cta a,
    .mobile-nav__item--cta a{
    background-color: orangered;
    color:yellow;
    padding: 5px 16px;
    border:2px solid blueviolet;
    border-radius:10px;
 }
    
    .main-nav__item--cta a:hover,
    .main-nav__item--cta a:active,
    .mobile-nav__item--cta a:hover,
    .mobile-nav__item--cta a:active{
     border:none;
     color: darkblue;
     background-color: aquamarine;
     border:2px dashed peru;
    
 }
    
p::first-letter{
    color: brown;
    background-color: aliceblue;
    font-size:30px;
}
.main-footer{
    background-color: thistle;
    padding:20px;
    margin-top:48px;
}
.main-footer__links{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.main-footer__link { 
    margin:0 16px;   
}

.main-footer__link a{
    color:rgb(95, 37, 122);
    text-decoration: none;
    font-weight:bold;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: blueviolet;
}

.modal {
    position: fixed;
    opacity:0;
    transform:translateY(-3rem);
    transform: opacity 200ms ease out , transform 500ms ease out 1s;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action-negative {
    background: red;
    border-color: red;
  }
  
  .modal__action-negative:hover,
  .modal__action-negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

  .open{
    display:block !important;
    opacity:1 !important;
    transolid: #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 form;
   transform:translateY(0) !important;
  }

  @media (min-width:40rem){
   .main-footer__link{
    margin:0 1rem;
   }

   .main-footer__links{
    flex-direction:row;
    justify-content: center; 
}
  }

  @keyframes wiggle {
  0%{
    transform:rotateZ(0);
  } 

  50%{
    transform:rotateZ(-10deg);
  } 
  100% {
    transform:rotateZ(10deg);
  }
  }
  